<%- include('__layout/header.html') %>

<h3>Update party: "<%= party.name %>"</h3>

<form class="card p-3 m-3 w-50" action="/api/party/<%= party.id %>?_method=PATCH" method="post" encType="multipart/form-data">
  <div class="form-group">
    <label for="name">Party name</label>
    <input
      type="text"
      required
      autocomplete="off"
      class="form-control"
      id="name"
      name="name"
      aria-describedby="emailHelp"
      placeholder="Enter party name"
      value="<%= party.name %>"
    />
  </div>
  <div class="form-group">
    <label for="description">Party description</label>
    <input
      type="text"
      required
      autocomplete="off"
      class="form-control"
      id="description"
      name="description"
      placeholder="Enter party description"
      value="<%= party.description %>"
    />
  </div>
  <% if (party.image) { %>
  <img class="card-img-top" src="<%= party.image %>" alt="<%= party.name %>" />  
  <% } %>
  <div class="form-group">
    <label for="Image">Image</label>
    <input
      type="file"
      autocomplete="off"
      class="form-control"
      id="image"
      name="image"
      accept="image/png, image/gif, image/jpeg"
    />
  </div>    
  <div class="form-group">
    <label for="fee">Entrance Fee</label>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input
        required
        type="number"
        class="form-control"
        id="fee"
        name="fee"
        placeholder="Enter party entrance fee"
        value="<%= party.fee %>"
      />
    </div>
  </div>
  
  <div class="form-group">
    <label for="date">Date of a party</label>
    <input
    type="date"
    required
    class="form-control"
    id="date"
    name="date"
    value="<%= party.date %>"

  />
  </div>

  </div>  

  <div class="form-group">
    <a href="/" role="button" class="btn">Cancel</a>
    <button type="submit" class="btn btn-inline btn-primary">Update</button>
  </div>
</form>

<%- include('__layout/footer.html') %>
