<%- include('__layout/header.html') -%>

<h1 class="mt-3 mb-3 d-flex justify-content-between align-items-center">
  Number of parties: <%= parties.length %>
  <a type="button" class="btn btn-primary btn-sm" href="/party/new" role="button"
    >Add New Party</a
  >
</h1>

<section
  class="d-flex flex-wrap flex-column flex-sm-column flex-md-row flex-lg-row"
>
  <% parties.forEach(function(party){
    let formatter = new Intl.NumberFormat('en-US', {style: 'currency',currency: 'USD'}); %>

  <div class="card m-4">
    <% if (party.image) { %>
    <img
      class="card-img-top"
      src="<%= party.image %>"
      alt="<%= party.name %>"
    />
    <% } %>
    <div class="card-body">
      <h4 class="card-title">
        <%= party.name %> | <%= formatter.format(party.fee) %>
      </h4>
      <p class="card-text"><%= party.description %></p>
  
      <p class="card-text">
        <%= party.date %> 
      </p>
    

      <a href="party/edit/<%= party.id %>" role="button" class="btn btn-primary"
        >Edit</a
      >
      <a href="party/delete/<%= party.id %>" role="button" class="btn btn-danger"
        >Delete</a
      >
    </div>
  </div>
  <% }) %>
</section>

<%- include('__layout/footer.html') -%>
