<%- include('__layout/header.html') %>

<h3>Create a new party</h3>

<form class="card p-3 m-3 w-50" action="/api/party" method="post" encType="multipart/form-data">
  <div class="form-group">
    <label for="name">Party name</label>
    <input
      type="text"
      required
      autocomplete="off"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter party name"
    />
  </div>
  <div class="form-group">
    <label for="description">Party description</label>
    <input
      type="text"
      required
      autocomplete="off"
      class="form-control"
      id="description"
      name="description"
      placeholder="Enter party description"
    />
  </div>
  <div class="form-group">
    <label for="Image">Image of a party</label>
    <input
      type="file"
      autocomplete="off"
      class="form-control"
      id="image"
      name="image"
      accept="image/png, image/gif, image/jpeg"
    />
  </div>  
  <div class="form-group">
    <label for="fee">Entrance fee</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input
        required
        type="number"
        class="form-control"
        id="fee"
        name="fee"
        placeholder="Enter entrance fee"
      />
    </div>
  </div>
  
  <div class="form-group">
    <label for="date">Date of a party</label>
    <input
    type="date"
    required
    class="form-control"
    id="date"
    name="date"
  />
  </div>
  </div>

  <div class="form-group">
    <a href="/" role="button" class="btn">Cancel</a>
    <button type="submit" class="btn btn-inline btn-primary">Create</button>
  </div>
</form>

<%- include('__layout/footer.html') %>
